In [26]:
import pandas as pd
import csv
import numpy as np
from urllib.request import urlopen
import json
url="https://raw.githubusercontent.com/Biuni/PokemonGO-Pokedex/master/pokedex.json" 
raw_data=urlopen(url).read() # Downloading the data
json=json.loads(raw_data)

In [27]:
# Checking the column
record=(json["pokemon"])

In [28]:
field_name=['id', 'num', 'name', 'img', 'type', 'height', 'weight', 'candy',
       'candy_count', 'egg', 'spawn_chance', 'avg_spawns', 'spawn_time',
       'multipliers', 'weaknesses', 'prev_evolution', 'next_evolution']

In [29]:
# Saving the file
with open('output.csv', 'w', newline='') as csv_file:
    writer = csv.DictWriter(csv_file, fieldnames=field_name)
    writer.writeheader()
    writer.writerows(record)

In [30]:
# Reading the file
df1=pd.read_csv('output.csv')

In [31]:
# Changing the Pokeman height data type to float 
def height1(i):
  a=i.split()[0]
  return float(a)

df1['height']=df1['height'].apply(height1)

# Changing the Pok√©mon weight to float
def weight1(i):
  a=i.split()[0]
  return float(a)
df1['weight']=df1['weight'].apply(weight1)

In [32]:
# candy_count: the amount of candies required to evolve int

def candy_count(i):
    try:
        return int(i)
    except ValueError:
        return 0

df1['candy_count'] = df1['candy_count'].apply(candy_count)

In [33]:
# : Number of kilometers to travel to hatch the egg - float
def egg1(i):
  a=i.split()[0]
  try:
      return float(a)
  except ValueError:
      return 0
df1["egg"]=df1["egg"].apply(egg1)

In [34]:
# avg_spawns: Number of this pokemon on 10.000 spawns (NEW) - int
def avg_spawn1(i):
  try:
    a=str(i).split(':')
    
    if len(a)==2:
    
      return float(a[0]+'.'+a[1])
    else:
      return float(a[0])
    


  except ValueError:
    return 0

df1['avg_spawns']=df1["avg_spawns"].apply(avg_spawn1)

In [35]:

# avg_spawns: Number of this pokemon on 10.000 spawns (NEW) - int
def convert_multipliers(multipliers):
    try:
        evaluated_obj = eval(multipliers)
        if isinstance(evaluated_obj, list):
            return evaluated_obj
    except (ValueError, TypeError):
        pass
    return np.nan

df1['multipliers'] = df1['multipliers'].apply(convert_multipliers)

In [36]:
#Percentage of spawn chance (NEW) - float
df1['spawn_chance']=df1['spawn_chance']/100

In [37]:
# avg_spawns: Number of this pokemon on 10.000 spawns (NEW) - int
df1['avg_spawns']=df1['avg_spawns']*10
df1['avg_spawns']=df1['avg_spawns'].astype(int,errors='ignore')

# Creating a new datetime column with combined minute and second
df1['spawn_time'] = df1['spawn_time'].fillna('00:00')

df1['spawn_time'] = pd.to_datetime(df1['spawn_time'], format="%M:%S")

In [38]:
# Saving the csv  file to xlsx file
df2=df1
excel_file_name='pokeman.xlsx'
df1.to_excel(excel_file_name, index=False)

In [39]:
df1.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,prev_evolution,next_evolution
0,1,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"['Grass', 'Poison']",0.71,6.9,Bulbasaur Candy,25,2.0,0.00690,690,1900-01-01 00:20:00,[1.58],"['Fire', 'Ice', 'Flying', 'Psychic']",NaN,"[{'num': '002', 'name': 'Ivysaur'}, {'num': '0..."
1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"['Grass', 'Poison']",0.99,13.0,Bulbasaur Candy,100,0.0,0.00042,42,1900-01-01 00:07:00,"[1.2, 1.6]","['Fire', 'Ice', 'Flying', 'Psychic']","[{'num': '001', 'name': 'Bulbasaur'}]","[{'num': '003', 'name': 'Venusaur'}]"
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"['Grass', 'Poison']",2.01,100.0,Bulbasaur Candy,0,0.0,0.00017,17,1900-01-01 00:11:30,NaN,"['Fire', 'Ice', 'Flying', 'Psychic']","[{'num': '001', 'name': 'Bulbasaur'}, {'num': ...",NaN
3,4,4,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,['Fire'],0.61,8.5,Charmander Candy,25,2.0,0.00253,253,1900-01-01 00:08:45,[1.65],"['Water', 'Ground', 'Rock']",NaN,"[{'num': '005', 'name': 'Charmeleon'}, {'num':..."
4,5,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,['Fire'],1.09,19.0,Charmander Candy,100,0.0,0.00012,12,1900-01-01 00:19:00,[1.79],"['Water', 'Ground', 'Rock']","[{'num': '004', 'name': 'Charmander'}]","[{'num': '006', 'name': 'Charizard'}]"

In [40]:
df1.dtypes

id                         int64
num                        int64
name                      object
img                       object
type                      object
height                   float64
weight                   float64
candy                     object
candy_count                int64
egg                      float64
spawn_chance             float64
avg_spawns                 int64
spawn_time        datetime64[ns]
multipliers               object
weaknesses                object
prev_evolution            object
next_evolution            object
dtype: object